/* login.css */
body {
    font-family: 'Arial', sans-serif;
    background: #0A0F1B; /* Cor de fundo escura, como o espaço */
    color: #ffffff; /* Texto branco para contraste */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px; /* Adiciona um pouco de espaço ao redor dos elementos para evitar o corte nas bordas */
}

h2 {
    color: #4A90E2; /* Azul claro, comum na temática espacial */
    text-align: center;
    margin: 20px; /* Espaço adicional abaixo do h2 */
}

form {
    background: rgba(255, 255, 255, 0.1); /* Fundo translúcido */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
}

.form-group {
    margin-bottom: 20px; /* Aumenta o espaçamento entre os campos de formulário */
}

label {
    display: block;
    margin-bottom: 8px; /* Espaçamento aumentado abaixo dos rótulos */
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0C162A; /* Fundo escuro para os inputs */
    color: white;
    border: 1px solid #4A90E2; /* Borda azul */
    margin: 10px; /* Espaçamento adicional para evitar que fiquem muito juntos */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4A90E2; /* Botão azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Espaço antes do botão */
}

button:hover {
    background-color: #357ABD; /* Escurece o botão ao passar o mouse */
}
